/* Import */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Pinyon+Script&family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Style+Script&display=swap');

/* General Global Setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

:root {
    /* --primary: #ff0066; */
    --primary: #8f7e56;
}

body {
    position: relative;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

/* -------------------------------------------------
# Cover
---------------------------------------------------*/
.cover {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}

.cover::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.256);
}

.bg-slide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg-slide .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%, -50%);
    width: 100%;
    z-index: 1100;
    transition: ease-in-out 3s;
    opacity: 0;
    visibility: hidden;
}

.bg-slide .content h1 {
    font-family: "Pinyon Script", cursive;
    color: var(--primary);
    font-size: 4em;
    text-transform: capitalize;
    text-align: center;
}

.bg-slide .content .title {
    font-family: "Pinyon Script", cursive;
    color: var(--primary);
    font-weight: 200;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-align: center;
}

.name {
    padding: 50px;
    margin: 20px;
    text-align: center;
    font-family: "Alex Brush", cursive;
    color: var(--primary);
    line-height: 3.5em;
}

.name .and {
    font-size: 2em;
}

.mitha,
.andra {
    font-size: 6em;

}

.name span {
    display: block;
}

.open-invitation {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.open-invitation p {
    font-family: 'Times New Roman', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    color: var(--primary);
}

.open-invitation a {
    font-family: 'Times New Roman', sans-serif;
    text-decoration: none;
    padding: 8px 37px;
    color: #ffffff;
    background: var(--primary);
    border-radius: 30px;
}

.move-down {
    position: absolute;
    z-index: 1100;
    color: #111111;
    /* animation: flink 1s linear infinite; */
}

.move-down ion-icon {
    font-size: 3.5em;
}

@keyframes flink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes spin {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.bg-slide.active .content {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
}

.circle {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, 0) rotateZ(0);
    opacity: 0;
    visibility: hidden;
    transition: 3s;
}

.circle.bg {
    background: transparent;
    width: 140vw;
    height: 140vw;
    border-radius: 0;
}

.circle.large {
    width: 70vw;
    height: 70vw;
}

.circle.small {
    width: 35vw;
    height: 35vw;
}

.circle img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.circle.bg img {
    border-radius: 0;
}

.circle.large img {
    transform: scale(2);
}

.circle.small img {
    transform: scale(4);
}

.bg-slide.active .circle.bg {
    transform: translate(0, 0) rotateZ(-360deg);
    opacity: 1;
    visibility: visible;
}

.bg-slide.active .circle.large {
    transform: translate(0, 0) rotateZ(720deg);
    opacity: 1;
    visibility: visible;
}

.bg-slide.active .circle.small {
    transform: translate(0, 0) rotateZ(-720deg);
    opacity: 1;
    visibility: visible;
}




/* --------------------------------------
# RESPONSIVE DESIGN
--------------------------------------*/
@media (max-width: 768px) {
    header {
        padding: 30px;
    }

    .nav {
        display: none;
    }

    .search {
        display: none;
    }

    .cover {
        padding: 120px 30px;
    }

    /* .bg-slide .content {
        width: 80vw;
    } */

    .bg-slide .content h1 {
        font-size: 4em;
    }

    .bg-slide .content p {
        font-size: 0.8em;
    }

    .circle.bg {
        width: 140vw;
        height: 140vh;
    }

    .circle.large {
        width: 70vw;
        height: 70vh;
    }

    .circle.small {
        width: 35vw;
        height: 35vh;
    }

    .bg-slide.active .circle.bg {
        transform: translate(0, 0) rotateZ(0);
        opacity: 1;
        visibility: visible;
    }

    .bg-slide.active .circle.large {
        transform: translate(0, 0) rotateZ(360deg);
        opacity: 1;
        visibility: visible;
    }

    .bg-slide.active .circle.small {
        transform: translate(0, 0) rotateZ(-720deg);
        opacity: 1;
        visibility: visible;
    }

    /* .open-invitation {
        bottom: 100px;
        width: 100%;
        height: 150px;
    } */

    .move-down ion-icon {
        font-size: 2em;
    }

    .slide-loader {
        bottom: 20px;
    }

    .share {
        left: 5px;
    }

    section.section-show {
        padding: 150px 30px 100px;
    }

    .about .img-box img {
        max-width: 80vw;
    }

    .about .img-box .corner-img {
        width: 30vw;
        right: -20px;
    }

    .about h4 {
        margin-top: 50px;
    }

    .section-bg-img {
        bottom: -500px;
        right: 0px;
    }

}