@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Style+Script&display=swap');

:root {
    --primary: #8f7e56;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    color: var(--primary);
}

.spacer2 {
    height: 2vh;
}

.spacer10 {
    height: 10vh;
}

.spacer20 {
    height: 20vh;
}

/*
===========================
Cover
===========================
*/
.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
    justify-content: center;
}

.cover::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url(bg-ring.png);
    background-position: 50%;
    background-size: cover;
}

.flowes-cover-top-left {
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
}

.flowes-cover-top-right {
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
}

.flowes-cover-bottom-left {
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.flowes-cover-bottom-right {
    width: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.cover-header {
    position: absolute;
    top: 10%;
}

.cover-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title {

    font-size: 1em;
    font-style: italic;
}

.name {
    font-family: "Pinyon Script", sans-serif;
    font-size: 3em;
    font-weight: 800;
}

.cover-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10%;
}

.to-invitation {
    font-size: 0.8em;
}

.open-invitation {

    font-size: 0.8em;
    font-style: italic;
    text-decoration: none;
    padding: 8px 37px;
    color: #ffffff;
    background-color: var(--primary);
    border-radius: 30px;
}



/*
===========================
Logo Name
===========================
*/
.logo-name {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
    justify-content: center;
}

.logo-name::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url(bg-ring.png);
    background-position: 50%;
    background-size: cover;
}

.logo-name-container {
    position: relative;
    width: 200px;
    height: 200px;
    /* border: 3px solid #73AD21; */
}

.name-letter {
    font-size: 8em;
    font-weight: 800;
}

.name-letter-m {
    position: absolute;
    /* top: 10px; */
    /* left: 70px; */
    /* width: 200px; */
    /* height: 200px; */
    /* border: 3px solid #73AD21; */
}

.name-letter-a {
    position: absolute;
    top: 60px;
    left: 40px;
    /* width: 200px; */
    /* height: 200px; */
    /* border: 3px solid #73AD21; */
}

/*
===========================
Surah-Salam
===========================
*/
/* .surah-salam {
    background-color: #f2eee6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
} */

.surah {
    font-size: 0.8em;
    width: 80%;
    text-align: center;
    line-height: 1.5em;
    height: auto;
}

/*
===========================
Profile
===========================
*/
.profile {
    position: relative;
    /* background-color: #f3f1ef; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
    justify-content: center;
}

.profile::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url(bg-ring.png);
    background-position: 50%;
    background-size: cover;
}

.profile-opener {
    font-size: 1.5em;
}

.profile-fullname {
    font-family: "Pinyon Script", sans-serif;
    font-size: 2em;
    font-weight: 800;
}

.profile-text {
    font-size: 0.8em;
    width: 50%;
    text-align: center;
    line-height: 1.5em;
    height: auto;
}

/*
===========================
Date Detail
===========================
*/
.date-detail {
    position: relative;
    /* background-color: #f3f1ef; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
    justify-content: center;
}

.date-detail::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url(bg-ring.png);
    background-position: 50%;
    background-size: cover;
}

.days,
.hours,
.minutes,
.seconds {
    /* border: 1px solid #ffffff;
    padding: 55px 10px;
    margin: 2px 2px; */
    font-size: 0.7em;
}

.date-detail-title {
    font-family: 'Pinyon Script', sans-serif;
    font-size: 2em;
    font-weight: 800;
}

#demo {
    font-size: 1.2em;
}

/*
===========================
Event
===========================
*/
/* .event { */
/* background-color: #eef0f9; */
/* display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
} */

/*
===========================
Gift
===========================
*/
.gift {
    /* background-color: #dedfe1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
}

.gift::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url(bg-ring.png);
    background-position: 50%;
    background-size: cover;
}

/*
===========================
End
===========================
*/
.end {
    /* background-color: #eeeff5; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
}