@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Style+Script&display=swap');

:root {
    --primary: #8f7e56;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*audio, embed {*/
/*    position: absolute;*/
/*    z-index: -9999;*/
/*}*/

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    color: var(--primary);
}

.spacer2 {
    height: 2vh;
}

.spacer5 {
    height: 5vh;
}

.spacer10 {
    height: 10vh;
}

.spacer20 {
    height: 20vh;
}

/*
===========================
Cover
===========================
*/
.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
    justify-content: center;
}



.flower-cover-top-left {
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
}

.flowes-cover-top-right {
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
}

.flowes-cover-bottom-left {
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.flowes-cover-bottom-right {
    width: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.cover-header {
    position: absolute;
    top: 10%;
}

.cover-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title {
    font-family: 'Pinyon Script', sans-serif;
    font-size: 2em;
    font-weight: bolder;
}

.name {
    font-family: "Pinyon Script", sans-serif;
    font-size: 3em;
    font-weight: 800;
}

.cover-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10%;
}

.to-invitation {
    font-size: 0.8em;
}

.open-invitation {

    font-size: 0.8em;
    font-style: italic;
    text-decoration: none;
    padding: 8px 37px;
    color: #ffffff;
    background-color: var(--primary);
    border-radius: 30px;
}



/*
===========================
Logo Name
===========================
*/
.logo-name {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
    justify-content: center;
}


.logo-name-container {
    position: relative;
    width: 200px;
    height: 200px;
    /* border: 3px solid #73AD21; */
}

.name-letter {
    font-size: 8em;
    font-weight: 800;
}

.name-letter-m {
    position: absolute;
    /* top: 10px; */
    /* left: 70px; */
    /* width: 200px; */
    /* height: 200px; */
    /* border: 3px solid #73AD21; */
}

.name-letter-a {
    position: absolute;
    top: 60px;
    left: 40px;
    /* width: 200px; */
    /* height: 200px; */
    /* border: 3px solid #73AD21; */
}

/*
===========================
Surah-Salam
===========================
*/
/* .surah-salam {
    background-color: #f2eee6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
} */

.surah {
    font-size: 0.8em;
    width: 80%;
    text-align: center;
    line-height: 1.5em;
    height: auto;
}

/*
===========================
Profile
===========================
*/
.profile {
    position: relative;
    /* background-color: #f3f1ef; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
    justify-content: center;
}

.profile-opener {
    font-size: 1.5em;
}

.profile-fullname {
    font-size: 1.3em;
    font-weight: 800;
    font-style: italic;
}

.profile-text {
    font-size: 0.8em;
    width: 50%;
    text-align: center;
    line-height: 1.5em;
    height: auto;
}

/*
===========================
Date Detail
===========================
*/
.date-detail {
    position: relative;
    /* background-color: #f3f1ef; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
    justify-content: center;
}

.days,
.hours,
.minutes,
.seconds {
    /* border: 1px solid #ffffff;
    padding: 55px 10px;
    margin: 2px 2px; */
    font-size: 0.7em;
}

.date-detail-title {
    font-family: 'Pinyon Script', sans-serif;
    font-size: 2em;
    font-weight: 800;
}

#demo {
    font-size: 1.2em;
}

/*
===========================
Event
===========================
*/
/* .event { */
/* background-color: #eef0f9; */
/* display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
} */

/*
===========================
Wedding Gift
===========================
*/
.wedding-gift {
    position: relative;
    /* background-color: #f3f1ef; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
    justify-content: center;
}

.wedding-gift-title {
    font-family: 'Pinyon Script', sans-serif;
    font-size: 2em;
    font-weight: 800;
}

.wedding-gift-content {
    font-size: 0.8em;
    width: 80%;
    text-align: center;
    line-height: 1.5em;
    height: auto;
}


/*
===========================
Wedding Message
===========================
*/
.wedding-message {
    position: relative;
    /* background-color: #f3f1ef; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
    justify-content: center;
}

.wedding-message-title {
    font-family: 'Pinyon Script', sans-serif;
    font-size: 2em;
    font-weight: 800;
}

.wedding-message-content {
    font-size: 0.8em;
    width: 80%;
    text-align: center;
    line-height: 1.5em;
    height: auto;
}

input[type=text], textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: var(--primary);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


/*
===========================
Wedding Attendance
===========================
*/
.wedding-attendance {
    position: relative;
    /* background-color: #f3f1ef; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
    justify-content: center;
}

.wedding-attendance-title {
    font-family: 'Pinyon Script', sans-serif;
    font-size: 2em;
    font-weight: 800;
}

.wedding-attendance-content {
    font-size: 0.8em;
    width: 80%;
    text-align: center;
    line-height: 1.5em;
    height: auto;
}


/*
===========================
End
===========================
*/
.end-invitation {
    position: relative;
    /* background-color: #f3f1ef; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 10px solid var(--primary);
    justify-content: center;
}

.end-invitation-title {
    font-family: 'Pinyon Script', sans-serif;
    font-size: 2em;
    font-weight: 800;
}

#table-wrapper {
  position:relative;
}
#table-scroll {
  height:50px;
  overflow:auto;  
  margin-top:20px;
}
#table-wrapper table {
  width:100%;

}
#table-wrapper table * {
  background:yellow;
  color:black;
}
#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}

